.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin: 1rem;
}

.App .search-container form {
  display: flex;
  flex-wrap: wrap;
}

.App .search-container form input {
  width: 100%;
  border: none;
  background-color: #f2f2f2;
  padding: 1rem;
  border-radius: 3px;
  outline-color: transparent;
  transition: outline-color 0.5s;
}

.App .search-container form input:focus {
  outline-color: #acd3e9;
  transition: outline-color 0.5s;
}

.App .search-container form button {
  width: 100%;
  background-color: #2d9cdb;
  color: #acd3e9;
  margin-top: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 3px;
  opacity: 1;
  transition: opacity 0.5s;
}

.App .search-container form button:disabled {
  opacity: 0.5;
  transition: opacity 0.5s;
}